<!-- Reading approach -->
<!-- Need to better alternate ways -->
<div id="wrapper">
  <div id="top-bar"></div>
  <div id="container1-flex">
  <div id="thin-left-bar"></div>
  <div id="blue-column"></div>
  <div id="container2-grid">
    <div id="iBar-top-red"></div>
    <div id="inner-flex-container">
      <div id="iBar-mid-yellow"></div>
      <div id="iBar-mid-red"></div>      
      <div id="iBar-mid-red"></div> 
      <div id="iBar-mid-yellow"></div>
    </div>
    <!-- end inner-flex-cont... -->
    
    <div id="iBar-top-red"></div>
  </div>
  <!-- end container2-grid -->
  <div id="blue-column"></div>
  <div id="thin-left-bar"></div>
</div>
<!-- end container1-flex -->
</div>
<!-- end wrapper -->