/* You can add global styles to this file, and also import other style files */
.canvas { 
    background: green;
    width: 100vw;
    height: 800px;
    padding: 0px 2px;
 
} 
body{
    padding: 0px;
    margin: 0px
}